<div id="orderDisplay">
  <h1>Your shopping cart has been successfully created</h1>
  <h2>You have selected the following pizza flavors in your cart. Please either proceed to checkout to pay or go back to edit the items in your cart</h2>

  <div id="orderView"></div>
  <div id="view"></div>
  <div>
    <a class="cta blue" id="orderEdit" href="/orders/edit">Edit order</a>
    <a class="cta blue" id="checkoutCreate" href="/checkout/create">Checkout</a>
  </div>
</div>

<h1 id="noOrderDisplay">You have not made any order. Please go to your dashboard to see available items and place an order</h1>